ИТОГОВЫЙ ПРОЕКТ

Локации будут заполнены растительностью и животными

1) ЖИВОТНЫЕ МОГУТ:

есть растения и/или других животных (если в их локации есть подходящая еда),
передвигаться (в соседние локации),
размножаться (при наличии пары в их локации),
умирать от голода или быть съеденными.

все виды будут происходить от одного абстрактного класса Animal                                         +
который будет содержать поведение, общее для всех животных                                              +
Если у конкретных животных будут особенности питания, размножения, передвижения и т. д.                 +
то для них нужно будет переопределить методы класса Animal                                              +

1) Создай иерархию классов:
Хищник: Волк, Удав, Лиса, Медведь, Орел
Травоядные: Лошадь, Олень, Кролик, Мышь, Коза, Овца, Кабан, Буйвол, Утка, Гусеница
Это означает, что волк может съесть кролика, если они на одной клетке, с вероятностью 60%.
Нужно использовать многопоточный "random". // узнать что такое многопоточный рандом

Характеристики животных: вес, мак кол-во жив. в одной клетке, скорость перем., сколько кг пищи нужно для сытости

2. У животного должны быть методы: покушать, размножиться, выбрать направление передвижения.
3. В классах травоядного и хищника можно реализовать метод покушать. Но обрати внимание,
есть травоядное утка, которое ест гусеницу
4. В конкретных классах того или иного вида можно дорабатывать все методы под особенности животного.
5. Должно быть создано минимум 10 видов травоядных и 5 видов хищников (описаны в п. 1).


2) РАССТЕНИЯ МОГУТ: // ?

Растения

МНОГОПОТОЧНОСТЬ..